@import '~node_modules/modern-normalize/modern-normalize.css';

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

body {
  font-style: normal;
  font-weight: 400;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-title {
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.1;
}

// @media screen and (min-width: 1200px) {
//   .section {
//     padding-top: 94px;
//     padding-bottom: 94px;
//   }
// }

// .section {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }
