:root {
  --dark-bg-color: #252d38;
  --base-graphite-color: #949ca8;
  --base-off-white-color: #b0b0b0;
  --accent-color: #e37119;
  --text-color: #f3f3f3;
  --secondary-text-color: #aab1bc;
  --base-white-color: #ffffff;
  --hover-accent-color: #e97f33;

  --first-font: 'Lato', sans-serif;
  --second-font: 'Prata', serif;
  --third-font: 'Lora', serif;

  --light-bg-color: #f5f4fa;
  --primary-text-color: #212121;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
