<section class="about">
  <div class="container">
    <h2 class="section-title">Михайло Яковенко</h2>
    <p>
      Підприємець. Консультант. Засновник торговельно-монтажної компанії «Нове
      місто», у покрівельній справі — з 2004 року.
    </p>
    <p>
      Магістр з маркетингу. Саме освіта стала в основі побудови власного
      бізнесу. Спочатку це було моє перше місце працевлаштування, сьогодні — це
      справа мого життя.
    </p>
    <p>
      Після закінчення Школи власників бізнесу, реорганізував весь бізнес,
      впровадив оргсхему, налаштував процес найму, реорганізував відділ
      продажів, впровадив CRM, звітність, планування. Організував роботу закупки
      та складу, управлінську звітність та фінансове планування. Організував
      роботу відділу будівельно-монтажних робіт, розробив технологію контролю
      відділу монтажних робіт.
    </p>
    <h3>2008</h3>
    <p>
      У 2008 році створив торгово-монтажний бізнес. З двох працівників у
      невеликому орендованому офісі, компанія виросла до 40 співробітників,
      власного офісу з автопарком та виробничим цехом.
    </p>
    <h3>2012</h3>
    <p>
      З 2012 відкрив офіс у м. Чортків, згодом — філіали у Тернополі та
      Хмельницькому.
    </p>
    <ul>
      <li><span>10 000+</span><span>клієнтів</span></li>
      <li><span>300+</span><span>дахів змонтовано</span></li>
      <li>
        <span>1 млн. м2</span><span>покрівельного покриття реалізовано</span>
      </li>
      <li><span>20+</span><span>бригад підрядників</span></li>
      <li><span>40+</span><span>фахівців – власна команда</span></li>
      <li><span>$1 млн</span><span>дохід за 2021 рік</span></li>
    </ul>
  </div>
</section>
