<section class="copyright-section">
  <div class="container copyright-container">
    <div class="copyright__info-wrapper">
      <a class="copyright__logo-link" href="./">
        <svg class="copyright__logo" width="75px" height="25px">
          <use href="./images/sprite.svg#logo-small"></use>
        </svg>
      </a>
      <p class="copyright__text">
        &copy;2023 | MikhayloYakovenko.com.ua | Всі права захищені
      </p>
    </div>
    <div class="copyright__agency-logo">
      <svg class="agency__logo" width="109px" height="53px">
        <use href="./images/sprite.svg#agency-logo"></use>
      </svg>
    </div>
  </div>
</section>
