<footer class="footer-section">
  <div class="container footer-container">
    <h2 class="visually-hidden">Зворотній звʼязок</h2>
    <div class="footer__text-column">
      <h3 class="section-title footer__title">Зв'яжіться зі мною</h3>
      <p class="footer__text">
        Я ціную вашу думку і завжди радий почути ваші відгуки. Будь ласка,
        заповніть цю форму зворотного зв'язку, і я зв'яжуся з вами найближчим
        часом.
      </p>
      <div class="mobile-menu__contacts-wrapper footer__contacts-wrapper">
        <p class="mobile-menu__contacts-title footer__contacts-title">
          Контакти
        </p>
        <ul class="mobile-menu__contacts-list list">
          <li class="mobile-menu__contacts-item">
            <a
              class="mobile-menu__contacts-link link footer__contacts-link"
              href="tel:+380962832820"
              >+38 (096)-293-28-20</a
            >
          </li>
          <li class="mobile-menu__contacts-item">
            <a
              class="mobile-menu__contacts-link mobile-menu__mail link"
              href="mailto:email@example.com"
              >email@example.com</a
            >
          </li>
          <li class="mobile-menu__contacts-item">
            <ul class="mobile-menu__social-contacts__list list">
              <li class="mobile-menu__social-contacts-item">
                <a
                  href=""
                  class="mobile-menu__social-link link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg
                    class="mobile-menu__social-icon footer__social-icon"
                    width="20px"
                    height="20px"
                  >
                    <use href="./images/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="mobile-menu__social-contacts-item">
                <a
                  href=""
                  class="mobile-menu__social-link link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg
                    class="mobile-menu__social-icon footer__social-icon"
                    width="20px"
                    height="20px"
                  >
                    <use href="./images/sprite.svg#instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="mobile-menu__social-contacts-item">
                <a
                  href=""
                  class="mobile-menu__social-link link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg
                    class="mobile-menu__social-icon footer__social-icon"
                    width="20px"
                    height="20px"
                  >
                    <use href="./images/sprite.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="mobile-menu__social-contacts-item">
                <a
                  href=""
                  class="mobile-menu__social-link link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg
                    class="mobile-menu__social-icon footer__social-icon"
                    width="20px"
                    height="20px"
                  >
                    <use href="./images/sprite.svg#whatsapp"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__form-column">
      <form action="#" class="showcases__consult-form footer__form">
        <div class="showcases__form-wrapper footer__form-inputs-wrapper">
          <span
            class="
              consult-form__input-wrapper
              showcases__consult-form__input-wrapper
              footer__form-input-wrapper
            "
          >
            <input
              class="consult-form__input showcases__consult-form__input name"
              type="text"
              required
              name="userName"
              minlength="2"
              pattern="[a-zA-Zа-яїієА-ЯЇІЄ]+"
              title="Імʼя має містити символи кириліці або латиниці"
              placeholder="Ваше імʼя"
            />
            <svg
              class="consult-form-icon showcases__consult-form-icon"
              width="14px"
              height="14px"
            >
              <use href="./images/sprite.svg#account"></use>
            </svg>
          </span>

          <span
            class="
              consult-form__input-wrapper
              showcases__consult-form__input-wrapper
              footer__form-input-wrapper
            "
          >
            <input
              class="consult-form__input showcases__consult-form__input tel"
              type="tel"
              required
              name="userPhone"
              pattern="[0-9]{10}"
              title="0960000000"
              placeholder="Телефон"
            />
            <svg
              class="consult-form-icon showcases__consult-form-icon"
              width="14px"
              height="14px"
            >
              <use href="./images/sprite.svg#phone"></use>
            </svg>
          </span>

          <span
            class="
              consult-form__input-wrapper
              showcases__consult-form__input-wrapper
              footer__form-input-wrapper
            "
          >
            <input
              class="consult-form__input showcases__consult-form__input mail"
              type="email"
              required
              name="userEmail"
              placeholder="Email"
            />
            <svg
              class="consult-form-icon showcases__consult-form-icon"
              width="14px"
              height="14px"
            >
              <use href="./images/sprite.svg#mail-fill"></use>
            </svg>
          </span>

          <span class="">
            <textarea
              name="userMessage"
              class="footer__form-message"
              placeholder="Ваше повідомлення"
            ></textarea>
          </span>
        </div>
        <button type="submit" class="button mail__button consult-form__button">
          <span class="mail__button-text">Надіслати</span>
          <svg class="mail-btn__icon" width="18px" height="18px">
            <use href="./images/sprite.svg#mail-fill"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</footer>

<!-- ./thank-you-page.html -->
