<header class="page-header">
  <div class="header-container">
    <a href="./">
      <svg class="header__logo" width="75px" height="25px">
        <use href="./images/sprite.svg#logo-small"></use>
      </svg>
    </a>
    <nav class="header__navigation">
      <ul class="heade__menu list">
        <li class="heade__menu-item">
          <a
            href="./#hero"
            class="header__menu-link header__menu-link-current link"
            >Головна</a
          >
        </li>
        <li class="heade__menu-item">
          <a href="./#about" class="header__menu-link link">Про мене</a>
        </li>
        <li class="heade__menu-item">
          <a href="./#services" class="header__menu-link link">Послуги</a>
        </li>
        <li class="heade__menu-item">
          <a href="./#charity" class="header__menu-link link">Фундація</a>
        </li>
        <li class="heade__menu-item">
          <a href="./#showcase" class="header__menu-link link">Книга</a>
        </li>
      </ul>
    </nav>

    <button
      class="burger-btn"
      type="button"
      data-fancybox
      data-src="#mobile-menu"
    >
      <svg class="burger-btn__icon" width="18px" height="18px">
        <use href="./images/sprite.svg#burger-2"></use>
      </svg>
    </button>

    <div class="header__contacts-wrapper">
      <a class="header__tel link" href="tel:+380962832820"
        >+38 (096)-293-28-20</a
      >

      <ul class="header__social-list list">
        <li class="header__social-item">
          <a href="" class="link">
            <svg class="header__social-svg" width="18px" height="18px">
              <use href="./images/sprite.svg#linkedin"></use></svg
          ></a>
        </li>
        <li class="header__social-item">
          <a href="" class="link">
            <svg class="header__social-svg" width="18px" height="18px">
              <use href="./images/sprite.svg#instagram"></use></svg
          ></a>
        </li>
        <li class="header__social-item">
          <a href="" class="link">
            <svg class="header__social-svg" width="18px" height="18px">
              <use href="./images/sprite.svg#facebook"></use></svg
          ></a>
        </li>
        <li class="header__social-item">
          <a href="" class="link">
            <svg class="header__social-svg" width="18px" height="18px">
              <use href="./images/sprite.svg#whatsapp"></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</header>
