<section class="hero" id="hero">
  <div class="hero__container container">
    <div class="hero-left-wrap">
      <h1 class="hero__title">Михайло Яковенко</h1>
      <p class="hero__description">
        Підприємець з досвідом у покрівельному бізнесі понад 16 років
      </p>
      <p class="hero__description extra-decription">
        Досяг результату від 0 до $1 000 000
      </p>
      <div class="hero__buttons-wrapper">
        <button
          type="button"
          class="button svg-btn hero__main-button"
          data-fancybox
          data-src="#book-page"
        >
          <span class="btn-text">Звʼязок зі мною</span>
          <svg class="button-svg" width="18px" height="18px">
            <use href="./images/sprite.svg#chat-dots-fill"></use>
          </svg>
        </button>
        <button class="book-btn svg-btn hero__book-btn">
          <div class="book-btn__outter-outline">
            <div class="book-btn__inner-outline">
              <lord-icon
                class="button__gif"
                src="https://cdn.lordicon.com/kipaqhoz.json"
                trigger="loop"
                delay="2000"
                colors="primary:#f3f3f3"
                state="morph"
                style="width: 30px; height: 30px"
              >
              </lord-icon>
            </div>
          </div>
          <span>Книга Pro дах</span>
        </button>
      </div>
    </div>

    <div class="hero-right-wrap">
      <svg class="hero-quote-image" width="283px" height="113px">
        <use href="./images/sprite.svg#Quote-1"></use>
      </svg>
      <div class="hero__quote-wrapper">
        <!-- <span class="quote-sign">"</span> -->

        <p class="hero__quote">
          <span class="hero__quote--bold">Задумав</span> — зроби!
          <span class="hero__quote--bold">Вирішив</span>— дій! Прямуй до цілей і
          бажаних мрій! Життя яскравіше щомиті стає! Хто діє — той виграє!
        </p>
      </div>
    </div>
  </div>
</section>
