<section class="instagram-section">
  <div class="container instagram-container">
    <h2 class="visually-hidden">Instagram</h2>
    <div class="instagram__text-block-wrapper">
      <div class="instagram__sub-title-wrapper">
        <p class="instagram__sub-title">Слідкуйте за мною в</p>
        <svg class="instagram-logo" width="75px" height="25px">
          <use href="./images/sprite.svg#instagram-logo"></use>
        </svg>
      </div>
      <div class="instagram__link-wrapper">
        <div class="instagram__avatar">
          <picture class="avatar__pic">
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/instagram/insta-avatar.webp    1x,
                ./images/instagram/insta-avatar@2x.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/instagram/insta-avatar.png    1x,
                ./images/instagram/insta-avatar@2x.png 2x
              " />
            <img
              src="./images/instagram/insta-avatar.png"
              alt="Аватар Михайла Яковенка"
              class="insta-avatar__img"
              width="35px"
              height="35px"
          /></picture>
        </div>
        <div class="instagram__text">
          <p class="instagram__text-ac-name">@myhaylo.yakovenko</p>
          <div class="instagram__text-link-wrapper">
            <a
              href=""
              class="instagram__text-link link"
              target="_blank"
              rel="noopener noreferrer"
              >Перейти
              <svg
                class="instagram-section__insta-icon"
                width="18px"
                height="18px"
              >
                <use href="./images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- post LIST -->
    <div class="instagram__posts-wrapper">
      <ul class="instagram-posts__list list">
        <li class="instagram-posts__item">
          <a class="instagram-posts__link" href="">
            <div>
              <picture>
                <source
                  media="(min-width: 320px)"
                  srcset="
                    ./images/instagram/insta-post-1.webp    1x,
                    ./images/instagram/insta-post-1@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 320px)"
                  srcset="
                    ./images/instagram/insta-post-1.jpg    1x,
                    ./images/instagram/insta-post-1@2x.jpg 2x
                  "
                />
                <img
                  src="./images/instagram/insta-post-1.jpg"
                  alt="фото з інстаграму"
                  class="instagram__post__img"
                  width="261px"
                  height="261px"
                />
              </picture>
            </div>
          </a>
        </li>
        <li class="instagram-posts__item">
          <a class="instagram-posts__link" href="">
            <div>
              <picture
                ><source
                  media="(min-width: 320px)"
                  srcset="
                    ./images/instagram/insta-post-2.webp    1x,
                    ./images/instagram/insta-post-2@2x.webp 2x
                  "
                  type="image/webp" />
                <source
                  media="(min-width: 320px)"
                  srcset="
                    ./images/instagram/insta-post-2.jpg    1x,
                    ./images/instagram/insta-post-2@2x.jpg 2x
                  " />
                <img
                  src="./images/instagram/insta-post-2.jpg"
                  alt="фото з інстаграму"
                  class="instagram__post__img"
                  width="261px"
                  height="261px"
              /></picture>
            </div>
          </a>
        </li>
        <li class="instagram-posts__item">
          <a class="instagram-posts__link" href="">
            <div>
              <picture
                ><source
                  media="(min-width: 320px)"
                  srcset="
                    ./images/instagram/insta-post-3.webp    1x,
                    ./images/instagram/insta-post-3@2x.webp 2x
                  "
                  type="image/webp" />
                <source
                  media="(min-width: 320px)"
                  srcset="
                    ./images/instagram/insta-post-3.jpg    1x,
                    ./images/instagram/insta-post-3@2x.jpg 2x
                  " />
                <img
                  src="./images/instagram/insta-post-3.jpg"
                  alt="фото з інстаграму"
                  class="instagram__post__img"
                  width="261px"
                  height="261px"
              /></picture>
            </div>
          </a>
        </li>
        <li class="instagram-posts__item">
          <a class="instagram-posts__link" href="">
            <div>
              <picture
                ><source
                  media="(min-width: 320px)"
                  srcset="
                    ./images/instagram/insta-post-4.webp    1x,
                    ./images/instagram/insta-post-4@2x.webp 2x
                  "
                  type="image/webp" />
                <source
                  media="(min-width: 320px)"
                  srcset="
                    ./images/instagram/insta-post-4.jpg    1x,
                    ./images/instagram/insta-post-4@2x.jpg 2x
                  " />
                <img
                  src="./images/instagram/insta-post-4.jpg"
                  alt="фото з інстаграму"
                  class="instagram__post__img"
                  width="261px"
                  height="261px"
              /></picture>
            </div>
          </a>
        </li>
        <li class="instagram-posts__item">
          <a class="instagram-posts__link" href="">
            <div>
              <picture
                ><source
                  media="(min-width: 320px)"
                  srcset="
                    ./images/instagram/insta-post-5.webp    1x,
                    ./images/instagram/insta-post-5@2x.webp 2x
                  "
                  type="image/webp" />
                <source
                  media="(min-width: 320px)"
                  srcset="
                    ./images/instagram/insta-post-5.jpg    1x,
                    ./images/instagram/insta-post-5@2x.jpg 2x
                  " />
                <img
                  src="./images/instagram/insta-post-5.jpg"
                  alt="фото з інстаграму"
                  class="instagram__post__img"
                  width="261px"
                  height="261px"
              /></picture>
            </div>
          </a>
        </li>
        <li class="instagram-posts__item">
          <a class="instagram-posts__link" href="">
            <div>
              <picture
                ><source
                  media="(min-width: 320px)"
                  srcset="
                    ./images/instagram/insta-post-6.webp    1x,
                    ./images/instagram/insta-post-6@2x.webp 2x
                  "
                  type="image/webp" />
                <source
                  media="(min-width: 320px)"
                  srcset="
                    ./images/instagram/insta-post-6.jpg    1x,
                    ./images/instagram/insta-post-6@2x.jpg 2x
                  " />
                <img
                  src="./images/instagram/insta-post-6.jpg"
                  alt="фото з інстаграму"
                  class="instagram__post__img"
                  width="261px"
                  height="261px"
              /></picture>
            </div>
          </a>
        </li>
        <li class="instagram-posts__item">
          <a class="instagram-posts__link" href="">
            <div>
              <picture
                ><source
                  media="(min-width: 320px)"
                  srcset="
                    ./images/instagram/insta-post-7.webp    1x,
                    ./images/instagram/insta-post-7@2x.webp 2x
                  "
                  type="image/webp" />
                <source
                  media="(min-width: 320px)"
                  srcset="
                    ./images/instagram/insta-post-7.jpg    1x,
                    ./images/instagram/insta-post-7@2x.jpg 2x
                  " />
                <img
                  src="./images/instagram/insta-post-7.jpg"
                  alt="фото з інстаграму"
                  class="instagram__post__img"
                  width="261px"
                  height="261px"
              /></picture>
            </div>
          </a>
        </li>
        <li class="instagram-posts__item">
          <a class="instagram-posts__link" href="">
            <div>
              <picture
                ><source
                  media="(min-width: 320px)"
                  srcset="
                    ./images/instagram/insta-post-8.webp    1x,
                    ./images/instagram/insta-post-8@2x.webp 2x
                  "
                  type="image/webp" />
                <source
                  media="(min-width: 320px)"
                  srcset="
                    ./images/instagram/insta-post-8.jpg    1x,
                    ./images/instagram/insta-post-8@2x.jpg 2x
                  " />
                <img
                  src="./images/instagram/insta-post-8.jpg"
                  alt="фото з інстаграму"
                  class="instagram__post__img"
                  width="261px"
                  height="261px"
              /></picture>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
