<div class="card" id="modal-service-1" style="display: none">
  <!-- <div class="body-overlay"></div> -->
  <div class="card__container">
    <div class="card__close-btn-wrapper">
      <button class="card__close-btn" data-fancybox-close>
        <svg class="card__close-btn__icon" width="24px" height="24px">
          <use href="./images/sprite.svg#close-icon"></use>
        </svg>
      </button>
    </div>

    <div class="card__content-wrapper">
      <div class="card__picture-wrapper">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/card/card-img-1200.webp    1x,
              ./images/card/card-img-1200@2x.webp 2x
            "
            type="image/webp" />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/card/card-img-1200.jpg    1x,
              ./images/card/card-img-1200@2x.jpg 2x
            " />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/card/card-img-320.webp    1x,
              ./images/card/card-img-320@2x.webp 2x
            "
            type="image/webp" />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/card/card-img-320.jpg    1x,
              ./images/card/card-img-320@2x.jpg 2x
            " />
          <img
            src="./images/card/card-img-320.jpg"
            alt="Фото даху будинка"
            class="card__img"
            min-width="256px"
            min-height="200px"
        /></picture>
      </div>
      <div class="card__text-wrapper">
        <h2 class="section-title card-title">Збудуй свій дах професійно</h2>
        <h3 class="card-sub-titile">
          Перекриття вашого даху від проєкту до реалізації
        </h3>
        <p class="service-card__text">
          Будівництво нового даху, перекриття наявного чи облаштування горища в
          житлову мансарду — складний процес, який вимагає врахування безлічі
          технічних рішень, про які людина, що не є спеціалістом, навіть не
          здогадується.
        </p>
        <p class="card__extra-style">
          Понад 16 років я спеціалізуюсь на покрівельній справі, є засновником
          торговельно-монтажної компанії «Нове місто». Разом з командою
          професійних покрівельників допоможу збудувати красивий та надійний
          дах:
        </p>
        <ul class="card__list">
          <li class="card__list-item">
            Розробка проєкту даху для реконструкції горища під житло чи
            комерційну діяльність
          </li>
          <li class="card__list-item">
            Будівництво чи перекриття даху «під ключ»
          </li>
          <li class="card__list-item">
            Реконструкція горища в комерційне приміщення чи житлову мансарду
          </li>
          <li class="card__list-item">
            Підбір та доставлення матеріалів для даху (металочерепиця,
            профнастил, бітумна черепиця та ін.)
          </li>
        </ul>

        <button class="button mail__button">
          <span class="mail__button-text">НАДІСЛАТИ ЗАЯВКУ</span>
          <svg class="mail-btn__icon" width="18px" height="18px">
            <use href="./images/sprite.svg#mail-fill"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
