<section class="services-section" id="services">
  <div class="container services-container">
    <h2 class="section-title services__title">Послуги по темі будівництва</h2>
    <div class="articles__wrapper">
      <article class="services__card">
        <h3 class="card__title">Збудуй свій дах професійно</h3>
        <p class="card__text">
          Перекриття вашого даху від проєкту до реалізації
        </p>

        <button
          class="card__button"
          type="button"
          data-fancybox
          data-src="#modal-service-1"
        >
          <span class="card__button-text">Детальніше</span>
          <svg class="card__button-svg" width="18px" height="18px">
            <use href="./images/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </article>
      <article class="services__card services__card-second">
        <h3 class="card__title">Збудуй свій дах професійно</h3>
        <p class="card__text">
          Курс «Як заробляти на будівництві дахів від 100 000 грн в місяць»
        </p>
        <button class="card__button" type="button">
          <span class="card__button-text">Детальніше</span>
          <svg class="card__button-svg" width="18px" height="18px">
            <use href="./images/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </article>
      <article class="services__card services__card-third third-card__blur">
        <h3 class="card__title">Виведи свій бізнес на новий рівень</h3>
        <p class="card__text">
          Індивідуальна консультація для розвитку вашого бізнесу
        </p>
        <button class="card__button" type="button">
          <span class="card__button-text">Детальніше</span>
          <svg class="card__button-svg" width="18px" height="18px">
            <use href="./images/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </article>
    </div>
  </div>
</section>
