<section class="hero thankyou-section">
  <div class="container thankyou__container">
    <h2 class="visually-hidden">Сторінка подяки</h2>
    <p class="section-title thankyou__title">Дякую, що заповнили заявку!</p>
    <p class="thankyou__text">
      Вашу заявку було успішно відправлено. Я зв'яжуся з вами найближчим часом,
      щоб обговорити деталі вашого запиту та відповісти на будь-які питання, які
      можуть виникнути.
    </p>
    <button type="button" class="thankyou__button-to-main">
      <a href="./" class="thankyou__button-link link">
        <svg class="thankyou__left-chevron" width="18px" height="18px">
          <use href="./images/sprite.svg#chevron-left"></use>
        </svg>
        <span>На головну</span>
      </a>
    </button>
    <div class="thankyou__blocks-wrapper">
      <div class="thankyou__avatar-block">
        <div class="thankyou__avatar-pic-wrapper">
          <picture class="thankyou__avatar-pic">
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/thank-you/thank-you-avatar.webp    1x,
                ./images/thank-you/thank-you-avatar@2x.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/thank-you/thank-you-avatar.png    1x,
                ./images/thank-you/thank-you-avatar@2x.png 2x
              " />
            <img
              src="./images/thank-you/thank-you-avatar.png"
              alt="Аватар Михайла Яковенка"
              class="thankyou__avatar-img"
              width="70px"
              height="70px"
          /></picture>
        </div>
        <div>
          <p class="thankyou__avatar-block__text">
            Я ціную ваш час і довіру, яку ви надаєте, і обіцяю зробити все
            можливе, щоб надати вам високоякісне обслуговування та вирішити
            питання, що виникли.
          </p>
          <p class="thankyou__avatar-block__text">
            Якщо у вас є будь-які додаткові питання або коментарі, будь ласка,
            не соромтеся зв'язатися зі мною зручним для вас способом.
          </p>
          <ul class="thankyou__contact-info list">
            <li class="thankyou__contatc-info-item">
              <a class="link" href="tel:+380962832820">+38 (096)-293-28-20</a>
            </li>

            <li>
              <ul class="thankyou__socials list">
                <li class="thankyou__socials-item">
                  <a href="">
                    <svg
                      class="thankyou__socials-svg"
                      width="18px"
                      height="18px"
                    >
                      <use href="./images/sprite.svg#linkedin"></use>
                    </svg>
                  </a>
                </li>
                <li class="thankyou__socials-item">
                  <a href="">
                    <svg
                      class="thankyou__socials-svg"
                      width="18px"
                      height="18px"
                    >
                      <use href="./images/sprite.svg#instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="thankyou__socials-item">
                  <a href="">
                    <svg
                      class="thankyou__socials-svg"
                      width="18px"
                      height="18px"
                    >
                      <use href="./images/sprite.svg#facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="thankyou__socials-item">
                  <a href="">
                    <svg
                      class="thankyou__socials-svg"
                      width="18px"
                      height="18px"
                    >
                      <use href="./images/sprite.svg#whatsapp"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="thankyou__book-block">
        <div class="thankyou__picture-wrapper">
          <picture class="thankyou__pic">
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/thank-you/thank-you-art.webp    1x,
                ./images/thank-you/thank-you-art@2x.webp 2x
              "
              type="image/webp" />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/thank-you/thank-you-art.png    1x,
                ./images/thank-you/thank-you-art@2x.png 2x
              " />
            <img
              src="./images/thank-you/thank-you-art.png"
              alt="Фото Книги"
              class="thankyou__book-img"
              width="176px"
              height="194px"
          /></picture>
        </div>
        <div>
          <p class="thankyou__book-block__text">
            Пропоную ознайомитись з моєю книгою, яка проллє світло на цікаві
            деталі нашої роботи!
          </p>
          <button class="button mail__button consult-form__button">
            <span class="mail__button-text">Детальніше</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
