.mobile-menu {
  position: fixed;
  z-index: 100;
  // left: 16;
  top: 0;
  right: 0;

  max-width: 304px;
  // height: 100vh;

  padding-top: 16px;
  padding-bottom: 64px;
  padding-right: 16px;
  padding-left: 16px;

  // opacity: 0;
  // visibility: hidden;
  // pointer-events: none;

  background-color: var(--dark-bg-color);
  // transform: translateX(100%);
  transition: transform 250ms var(--cubic);
}
// .mobile-menu.is-open {
//   opacity: 1;
//   visibility: visible;
//   pointer-events: auto;
//   transform: translateX(0);
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .backdrop {
//   position: fixed;
//   z-index: 99;

//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   background-color: rgba(0, 0, 0, 0.2);
//   transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
// }
// .mobile-menu__close-btn {
//   position: absolute;
//   top: 10px;
//   right: 15px;

//   width: 40px;
//   height: 40px;
//   border: none;
//   cursor: pointer;

//   background-color: transparent;
// }

// .mobile-menu__container {
//   position: relative;

//   // display: flex;
//   // flex-direction: column;
//   // align-items: center;

//   padding-right: 16px;
//   padding-left: 16px;

//   // width: 100vw;
// }

.close-btn__wrapper {
  display: flex;
  margin-bottom: 64px;
}

.close-btn {
  min-height: 50px;
  width: 50px;

  margin-left: auto;

  border: 2px solid var(--accent-color);
  border-radius: 4px;

  background-color: var(--accent-color);

  cursor: pointer;
  transition: fill 250ms var(--cubic);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.close-btn__icon {
  margin: 0 auto;

  fill: var(--base-white-color);
}

.mobile-nav__list {
  margin-bottom: 64px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-nav__item {
  position: relative;
  display: block;

  // height: 100%;

  text-align: center;
  &:not(:last-child) {
    margin-bottom: 28px;
  }
}

.mobile-nav__link {
  display: block;

  font-family: var(--first-font);
  @include font(700, 13px, 20px);
  color: var(--text-color);
  text-transform: uppercase;
  text-align: center;

  transition: color 250ms var(--cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mobile-nav__link-current::after {
  display: block;

  position: absolute;

  bottom: -8px;

  content: '';

  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  opacity: 1;
}

.mobile-menu__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;

  margin-bottom: 45px;
}

.mobile-menu__title {
  margin-bottom: 8px;

  font-family: var(--second-font);
  @include font(400, 20px, 22px);
  color: var(--base-white-color);
}

.mobile-menu__text {
  font-family: var(--third-font);
  @include font(400, 13px, 17px);

  color: var(--secondary-text-color);
}

.mobile-menu__contacts-wrapper {
  display: flex;
  flex-direction: row;
}

.mobile-menu__contacts-title {
  margin-right: 24px;

  font-family: var(--third-font);
  @include font(400, 20px, 26px);

  color: var(--base-white-color);
}

// .mobile-menu__contacts-list {
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-end;
// }

.mobile-menu__contacts-item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }

  text-align: right;
}

.mobile-menu__contacts-link {
  font-family: var(--first-font);
  @include font(400, 16px, 24px);

  color: var(--base-white-color);
}

.mobile-menu__mail {
  color: var(--accent-color);
  text-align: right;
}

.mobile-menu__social-contacts__list {
  display: flex;
  justify-content: flex-end;
}

.mobile-menu__social-contacts-item {
  &:not(:last-child) {
    margin-right: 8px;
  }
}

// .mobile-menu__social-link {
//   transition: width 0.1s ease 0s;
// }

.mobile-menu__social-icon {
  fill: var(--base-white-color);
  transition: all 0.1s ease 0s;

  &:hover,
  &:focus {
    fill: var(--accent-color);
    transform: scale(1.25);
  }
}
