.reviews-section {
  position: relative;
  padding-top: 128px;
  padding-bottom: 128px;

  background-image: url('../images/reviews/reviews-bg.png');
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 280px),
    screen and (min-resolution: 192dpi) and (min-width: 280px),
    screen and (min-resolution: 2dppx) and (min-width: 280px) {
    background-image: url('../images/reviews/reviews-bg@2x.png');
  }
  background-repeat: no-repeat;
  background-size: cover;

  background-color: var(--dark-bg-color);
}

.reviews-container {
  width: 100%;
  overflow: hidden;
  width: 100%;

  position: relative;
  @media screen and (min-width: 576px) {
    padding-right: 64px;
    padding-left: 64px;
  }
  @media screen and (min-width: 1200px) {
    padding-right: 42px;
    padding-left: 42px;
    margin: 0 auto;
    min-width: 1116px;
    width: 1200px;
  }
}

.reviews__title-wrapper {
  margin-bottom: 32px;

  @media screen and (min-width: 1200px) {
    width: 1116px;
    display: flex;
    justify-content: space-between;
    // margin-bottom: 32px;
  }
}

.swiper-buttons {
  display: none;
  @media screen and (min-width: 1200px) {
    display: flex;
    position: relative;
    // flex-direction: row-reverse;
  }
}

.reviews-swipe-btns-svg {
  fill: var(--base-white-color);
}

.prev {
  display: block;
  margin: 0;
  margin-right: 8px;

  padding: 16px;
  width: 50px;
  height: 50px;
  background-color: var(--base-color-light-orange);
  border-radius: 4px;
  // &::after {
  //   display: block;
  //   font-size: 18px;
  //   width: 18px;
  //   height: 18px;
  // }
}
.next {
  display: block;
  margin: 0;
  padding: 16px;
  width: 50px;
  height: 50px;
  background-color: var(--base-color-light-orange);
  border-radius: 4px;
}
.swiper-button-disabled {
  background: rgba(243, 243, 243, 0.25);
}

.reviews__title {
  // margin-bottom: 32px;
  color: var(--base-white-color);
  @media screen and (min-width: 1200px) {
    @include font(400, 31px, 34px);
  }
}

.reviews__articles-wrapper {
  width: 1071px;
  display: flex;
  justify-content: start;

  margin: 0;

  @media screen and (min-width: 1200px) {
    width: 1116px;
    overflow: hidden;
  }
}

.reviews__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 288px;
  height: 378px;
  padding: 32px 101px 32px 32px;
  background-color: #ffffff;
  border-radius: 4px;

  &::after {
    content: '';
    background-image: url('../images/services/services-blur.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
  }
  @media screen and (min-width: 1200px) {
    width: 356px;
    padding-right: 169px;
  }
}

.reviews__card-pic {
  position: absolute;
  top: 0;
  left: 0;

  width: 288px;
  height: 378px;
  border-radius: 4px;
  @media screen and (min-width: 1200px) {
    width: 356px;
  }
}

.review__img {
  width: 100%;
  object-fit: contain;
}
