.services-section {
  padding-top: 128px;
  padding-bottom: 128px;

  background-color: var(--dark-bg-color);
}

.services-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  @media screen and (min-width: 576px) {
    padding-left: 64px;
    padding-right: 64px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 42px;
    padding-right: 42px;
    margin: 0 auto;
    min-width: 1116px;
    width: 1200px;
  }
}

.services__title {
  margin-bottom: 32px;
  color: #ffffff;
  @media screen and (min-width: 1200px) {
    @include font(400, 31px, 34px);
  }
}

.articles__wrapper {
  width: 1071px;
  display: flex;
  justify-content: start;

  margin: 0;

  @media screen and (min-width: 1200px) {
    width: 1116px;
    // justify-content: center;
  }
}

.services__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 288px;
  height: 354px;

  padding: 32px 76.61px 32px 32px;
  background-color: #ffffff;
  background-image: url('../images/services/services-bg-320.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border-radius: 4px;

  &:not(:last-child) {
    margin-right: 16px;
    @media screen and (min-width: 1200px) {
      margin-right: 24px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 356px !important;
    padding-right: 170px;
  }
}

.swiper-slide {
  @media screen and (min-width: 1200px) {
    width: 356px !important;
    padding-right: 170px;
  }
}

.services__card-second {
  background-image: url('../images/services/services-2-bg-320.jpg');
}
.services__card-third {
  background-image: url('../images/services/services-3-bg-320.jpg');
  position: relative;

  &::after {
    content: '';
    background-image: url('../images/services/services-blur.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.card__title {
  z-index: 1;
  font-family: var(--third-font);
  @include font(400, 20px, 26px);
  color: var(--base-accent-colore-source);
}

.card__text {
  z-index: 1;
  font-family: var(--first-font);
  @include font(400, 16px, 24px);
  color: var(--base-color-graphite-600);
}

.card__button {
  z-index: 1;
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: center;
  width: fit-content;
  cursor: pointer;
  border: 2px solid #b0b0b0;
  border-radius: 4px;

  background-color: transparent;

  &:hover,
  &:focus {
    background-color: var(--base-color-graphite-600);
    border-color: var(--base-color-graphite-600);
    & .card__button-text {
      color: var(--text-color);
    }
    & .card__button-svg {
      fill: var(--text-color);
    }
  }
}

.card__button-text {
  margin-right: 8px;

  font-family: var(--first-font);
  @include font(700, 13px, 20px);
  color: var(--text-dark-graphite-color);
}

.card__button-svg {
  fill: var(--text-dark-graphite-color);
}

.services__pagination {
  position: absolute;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;

  background-color: grey;
  border-radius: 2px;
}

.swiper-pagination-bullet-active {
  width: 32px;
  height: 12px;

  background: #e37119;
  border-radius: 2px;
}

.swiper-wrapper {
  padding-bottom: 44px;
}
