.fancybox__backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.card {
  width: 288px;

  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  margin-left: auto;

  padding-top: 16px;
  padding-bottom: 32px;
  padding-right: 16px;
  padding-left: 16px;

  overflow: scroll;

  background-color: var(--base-color-graphite-300);

  @media screen and (min-width: 1200px) {
    padding: 0;
    width: 1116px;
    height: 750px;
    top: unset;
    right: unset;
    margin-left: unset;

    overflow: none;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
}

.f-button {
  display: none;
}

.card__close-btn-wrapper {
  display: flex;
  margin-bottom: 32px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

.card__close-btn {
  display: block;
  width: 24px;
  height: 24px;

  padding: 0;

  margin-left: auto;
  background-color: transparent;
  outline: none;
  border: none;
}

.card__content-wrapper {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.card__picture-wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 32px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    width: 50%;
  }
}

.card__img {
  object-fit: cover;
  width: 256px;

  @media screen and (min-width: 1200px) {
    width: 100%;
    height: 750px;
  }
}

.card__text-wrapper {
  @media screen and (min-width: 1200px) {
    padding: 52px 24px 52px 95px;
    width: 50%;
  }
}

.card-title {
  margin-bottom: 16px;
  color: var(--base-accent-colore-source);

  @media screen and (min-width: 1200px) {
    margin-bottom: 24px;

    @include font(400, 31px, 34px);
  }
}

.card-sub-titile {
  margin-bottom: 16px;
  font-family: var(--third-font);
  @include font(400, 16px, 21px);
  color: var(--base-color-graphite-500);

  @media screen and (min-width: 1200px) {
    margin-bottom: 24px;

    @include font(400, 20px, 26px);
  }
}

.service-card__text {
  font-family: var(--first-font);
  @include font(400, 13px, 20px);
  color: var(--dark-bg-color);

  margin-bottom: 16px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 24px;

    @include font(400, 16px, 24px);
  }
}
.card__extra-style {
  margin-bottom: 8px;

  font-family: var(--first-font);
  @include font(400, 13px, 20px);
  color: var(--dark-bg-color);
  @media screen and (min-width: 1200px) {
    @include font(400, 16px, 24px);
  }
}

.card__list {
  padding-left: 25px;
  margin-bottom: 16px;

  font-family: var(--first-font);
  @include font(400, 13px, 20px);
  color: var(--dark-bg-color);

  @media screen and (min-width: 1200px) {
    margin-bottom: 24px;
    @include font(400, 16px, 24px);
  }
}

.mail__button {
  width: 256px;
  @media screen and (min-width: 1200px) {
    width: 100%;
  }
}
